.pb-0 {
    padding-bottom: 0
}

.cont-icon {
    text-align: left;
    display: flex;
    align-items: start
}

.cont-icon span {
    font-size: 1.875rem;
    background: #fff0;
    padding: 30px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fad48b
}

.right-info {
    margin-left: 30px
}

.cont-icon h3 {
    color: #fc0;
    margin-top: 0rem;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 0
}

.pd-bt {
    padding-bottom: 100px
}

.mr {
    margin-right: 0
}

.ml {
    margin-left: 0
}

.pdd-lft {
    padding-left: 0
}

.pt {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0
}

.pr {
    padding-right: 0;
    padding-left: 0
}

.pt10 {
    padding-top: 10rem
}

.pt-5 {
    padding-top: 6.25rem
}

.pb-5 {
    padding-bottom: 6.25rem
}

.abt-Ides .jour-abtBxx {
    text-align: left;
    padding: 100px 0
}

.cont-sec {
    padding: 0 0 0 0;
    margin-bottom: 25px;
    width: 100%;
    float: left;
    margin-right: 0
}

.projectDescTion.cont-box {
    margin: 2.5rem 0
}

.cont-sec p {
    padding: 7px 0;
    color: #000;
    font-size: 15px
}

.cont-icon a {
    color: #000;
    font-size: 17px
}

.bg-blk {
    background-color: #f7e9ce
}

.project-cont .icon-Icon_Mordern-interior-design:before {
    content: "\e906";
    color: #231f20
}

.projectDescTion.cont-box h3 {
    text-align: left;
    font-size: 2.125rem;
    font-weight: 300;
    color: #010101
}

.projectDescTion.cont-box h1 {
    text-align: left;
    font-size: 2.125rem;
    font-weight: 300;
    color: #010101
}

.projectDescTion.cont-box p {
    padding: 1.125rem 0 0 0;
    color: #231f20
}

.project-cont::before {
    content: "";
    position: absolute;
    left: -30px;
    width: 100%;
    height: auto;
    background: url(../images/shape-3.png);
    background-repeat: no-repeat
}

.bottom-0 {
    padding-bottom: 0
}

.cont-form {
    background-color: #231f20;
    overflow: hidden
}

.connect .form-select:focus {
    border-color: #fff0;
    outline: 0;
    box-shadow: 0 0 0 .25rem #fff0
}

.text-imon .swiper-wrapper {
    padding-bottom: 50px
}

svg.block.w-5.h-5.text-gray-400.mb-4 {
    width: 10%
}

.bg-wh {
    background-color: #fff
}

.con-form {
    padding: 40px;
    background-color: #fff
}

.heading-abtBxx h3 {
    color: #000
}

.jour-abtBxx h3 {
    color: #000;
    padding-bottom: 20px
}

.bg-ll {
    background-color: #f9f8f8
}

.partner .swiper-wrapper {
    padding-bottom: 50px
}

.partner .imgSlibx img {
    width: 80%;
    height: 60%;
    object-fit: unset
}

.submit-button {
    font-size: 1rem;
    color: #000;
    font-weight: 500;
    padding: .3rem 1.5rem;
    border: .0625rem solid var(--themeColor);
    display: inline-block;
    border-left-width: .375rem;
    position: relative;
    background: #fff
}

.jour-abtBxx p {
    width: 50%;
    text-align: left
}

.con-form .signUpForm .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 2.75rem
}

p.privacy-policy {
    font-size: .9375rem;
    font-weight: 300;
    color: #231f20;
    padding-bottom: 20px
}

.abtUsIneerPara li {
    color: #c7c7c7;
    padding: 20px 0;
    display: flex
}

.abtUsIneerPara ul {
    padding: 25px 30px 0 0
}

.abtUsIneerPara .icon-calendar-plus-o {
    font-size: 45px;
    padding-right: 20px
}

.abtUsIneerPara .icon-calendar-plus-o:before {
    content: "\f271";
    color: #000;
    background-color: #fad48b
}

.file input {
    border: none;
    border-bottom: .0625rem solid #ccc
}

.submi-t {
    text-align: right;
    margin: 0 auto
}

ul.prodlist-items {
    padding: 26px 0
}

ul.prodlist-items li {
    padding: 5px 0
}

ul.prodlist-items li span.icon-calendar-plus-o {
    padding-right: 15px
}

.subjuctName {
    width: 100%
}

.con-form .form-select {
    border: 0;
    border-bottom: .0625rem solid #ccc;
    border-radius: 0
}

.apply-form {
    background-color: #fff;
    overflow: hidden
}

.apply-form .container {
    padding: 0 20%
}

.con-form.app-lt {
    border: 1px solid #e6bc6b
}

.responsive-map {
    overflow: hidden;
    position: relative;
    height: 0;
    min-height: 40vh
}

.responsive-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute
}

.abt-Ides .heading-abtBxx {
    text-align: center
}

.abt-Ides .heading-abtBxx p {
    width: 80%;
    margin: 2.5rem auto;
    font-size: 1.25rem
}

.abt-Ides .heading-abtBxx {
    text-align: center;
    padding: 100px 0;
    background-color: #f7e9ce;
}

.abt-Ides .jour-abtBxx {
    text-align: left;
    padding: 0 0 0 0
}

.jour-abtBxx h2 {
    font-weight: 700
}

.jour-abtBxx .journeyInfo h2 {
    font-weight: 700;
    width: 50%;
    margin: 0 auto;
    background: #fad48b;
    padding: 15px;
    display: flex;
    justify-content: center
}

.heading-abtBxx h2 {
    font-weight: 700
}

.wh-bg {
    background-color: #fff
}

.abt-Ides.p-90 {
    padding: 5.625rem 0 0 0
}

.abt-Wrap {
    margin-bottom: 0
}

.abt-List .container-fluid {
    width: 100%;
    margin: 0 auto
}

.miss {
    padding: 80px 100px 80px 160px;
    background-color: #111;
    color: #fad48b
}

.viss {
    padding: 80px 100px 80px 100px
}

.icon-view img {
    width: 10%
}

.icon-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .625rem 0
}

p.sit-amet {
    padding: 2.5rem 3rem 6.3125rem 0rem
}

.about-Others {
    padding-bottom: 1.875rem
}

.about-Leaders {
    padding-bottom: 5.875rem
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    color: #000
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    color: #000
}

.about-test .test-abtBxx {
    text-align: left;
    padding: 0;
    background-color: #f7e9ce;
    position: relative;
    height: 550px;
}

img.player-icon {
    position: absolute;
    left: 0;
    left: 45%;
    top: 15%;
    width: 15%
}

.testi-info {
    padding: 20px
}

.testi-info {
    padding: 30px;
    padding-bottom: 50px;
    position: relative;
    padding-top: 86px
}

.testi-info img {
    width: 114px;
    top: 26px;
    position: absolute;
    left: 14px;
    opacity: .1
}

.about-Others .swiper-pagination-bullet-active,
.productInnerSlider .swiper-pagination-bullet-active {
    background-color: #000
}

.test-abtBxx h2 {
    width: 100%;
    padding: 20px 0 10px 0;
    font-size: 19px
}

.testi-info p {
    height: 100%;
    font-size: 0.7rem;
}

.test-abtBxx h4 {
    font-size: 15px;
    font-weight: 300
}

.testivdo-cont button {
    position: absolute;
    top: -15px;
    right: -15px
}

.test-abtBxx p h2 {
    width: 90%;
    margin: 2.5rem auto;
    font-size: 1.25rem;
    padding: 20px 0 20px 20px
}

.list-members {
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 0
}

.member {
    border-right: 1px solid #fff;
    background: #231f20;
    float: left;
    width: 100%
}

.member-info {
    width: 100%;
    text-align: left;
    padding: 20px;
    color: #fff;
    float: left
}

.member-info h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0
}

.member-image img {
    width: 100%;
    height: 100%
}

.member-info p {
    font-size: 17px
}

.member-info .social-link {
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -2rem
}

.leaderPopModal .modal-dialog {
    width: 80rem
}

.leaderPopModal .popUpOpenSec button {
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 25px
}

.leaderPopModal .modal-content {
    background-color: #f7e9ce
}

.tem-memcont {
    padding: 50px
}

.tem-memcont h3 {
    color: #111;
    font-weight: 600
}

.tem-memcont p {
    color: #111;
    margin-top: 20px;
    font-size: 16px
}

.tem-memcont span {
    color: #111;
    font-weight: 400
}

.leader-info {
    margin-top: 50px
}

.member-info h5 {
    margin: 5px 0;
    font-size: .8rem;
    font-weight: 300;
    margin-bottom: 0;
    padding-right: 0rem;
    color: snow;
    font-style: italic;
    font-weight: 600
}

.social-link span.readMoreOpen {
    color: #fff;
    font-weight: 400;
    border-bottom: 3px solid #fad48b !important;
    font-size: 1rem;
    background: #fff0;
    border: 0;
    border-radius: 0;
    text-align: left;
    padding: 0;
    padding-bottom: 5px
}

.timeline-heading p {
    padding: 10px 80px 10px 0
}

.know-Budgt h3 {
    color: #000;
    text-align: center
}

.ctc-Budget {
    background-color: #a9a9a9;
    padding: 2.875rem 0
}

.testivdo-cont .modal-dialog {
    max-width: 850px;
    margin: 1.75rem auto
}

.journeyInfo {
    text-align: center;
    float: left;
    width: 100%;
    margin: 0 auto
}

@media (max-width:1450px) {
    .apply-form .container {
        padding: 0 10%
    }

    .ft-youtubeimg {
        flex: 0 0 15%
    }
}

@media (max-width:1180px) {
    .miss {
        padding: 60px 70px 60px 70px
    }

    .viss {
        padding: 60px 70px 60px 70px
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .cont-sec p {
        padding: 7px 15px
    }

    .cont-sec {
        height: 250px
    }

    .bannerBtn {
        bottom: -5.25rem !important
    }

    .commercialProject .swiper-wrapper {
        padding-bottom: 0rem
    }

    .ytb-info span {
        color: #616165;
        font-size: 9px
    }

    .yutb-box {
        border: 1px solid #616165;
        padding: 17px
    }

    .ytb-info h5 {
        font-size: 19px
    }
}

@media (max-width:1024px) {
    .project-cont::before {
        display: none
    }

    .projectDescTion p {
        width: 100%
    }

    .cont-sec {
        margin: 0 15px 15px 15px
    }

    .cont-sec p {
        padding: 5px 5px
    }

    .con-form {
        padding: 20px
    }

    .projectDescTion.cont-box {
        margin: 2.125rem 20px
    }

    .mt-5 {
        margin-top: 0rem !important
    }

    .cont-icon img {
        width: 25%;
        padding: 10px 0 0 0
    }

    .miss {
        padding: 30px 65px 30px 25px
    }

    .viss {
        padding: 30px 25px 30px 65px
    }

    p.sit-amet {
        padding: 15px 0 15px
    }

    .jour-abtBxx p {
        width: 100%
    }
}

@media (max-width:991px) {
    span.mob-angle {
        display: block
    }

    span.mob-angle {
        position: absolute;
        right: 15px;
        top: 20px;
        display: block
    }

    .projectsName.proType .form-select {
        background-position: 100%
    }

    .findHomesNow .menu {
        width: 100%
    }

    .findHomesNow .nav .button-dropdown a {
        width: 100%
    }

    .findHomesNow .nav {
        justify-content: space-between
    }

    .proj-search {
        background-color: var(--themeColor);
        padding: 1.5rem 0;
        margin: 4rem 0;
        width: 100%;
        float: left
    }

    .productType a.desk-viewmore {
        background: var(--themeColor);
        padding: 10px 0;
        float: left;
        width: 100%;
        font-size: .9375rem;
        font-weight: 600;
        color: #111;
        text-decoration: none;
        position: relative;
        text-align: center
    }

    .leaderPopModal .modal-dialog-centered {
        min-height: calc(70% - 3.5rem)
    }

    .leaderPopModal .modal-dialog {
        max-width: 100%;
        margin: 1.75rem auto
    }

    .jour-abtBxx .journeyInfo h2 {
        width: 100%
    }

    .quality-interior-info li img {
        width: 75%;
        text-align: left
    }

    .quality-interior-info ul li {
        flex: 0 0 17%
    }

    .testi-info {
        padding: 50px 15px
    }

    ul.quickLinks li a {
        color: #f7e9ce;
        font-size: 15px
    }

    .followus-sec h3 {
        text-align: center;
        font-size: 20px
    }

    .award-para {
        margin-bottom: 2rem
    }

    .partner .imgSlibx img {
        width: 100%;
        height: 60%;
        object-fit: unset;
        padding: 5px
    }

    .submi-t {
        text-align: center
    }

    .cont-icon h3 {
        font-size: 1.8rem
    }

    .designIdeasWrap.commercialsPage.pt-0 .titleHeading.headingBxx p {
        margin: 1.25rem 0 0;
        width: 100%
    }

    .signUpForm .form-group span img {
        width: 80%
    }

    .aboutUs.p-90.abtInPage .level {
        padding-left: 2.5rem
    }

    .aboutUs.abtInPage {
        padding-top: 2.75rem
    }

    .leaderSec p {
        width: 100% !important
    }

    .abt-Ides .jour-abtBxx.journeyInfo {
        padding: 0
    }

    .mt-5 {
        margin-top: 3rem !important
    }

    .partner {
        padding-bottom: 1.875rem
    }

    .bg-333 {
        height: 25rem
    }

    .cont-icon img {
        width: 25%;
        padding: 10px 0 0 0
    }

    .project-cont::before {
        display: none
    }

    .projectDescTion p {
        width: 100%
    }

    .cont-sec p {
        padding: 0 5px
    }

    .abtUsIneerPara {
        padding: 0
    }

    .warrent-sec ul li:nth-child(2) {
        margin-left: 0
    }

    .abtUsIneerPara p,
    .commercialProject p {
        color: #c1bfbf;
        font-size: 1rem;
        padding: 1.875rem 0;
        width: 100%;
        line-height: 26px
    }

    .con-form {
        padding: 20px
    }

    .projectDescTion.cont-box {
        margin: 2.125rem 20px
    }

    .mr-at {
        margin: 0 auto
    }

    .cont-sec::before {
        margin-top: -14px;
        margin-left: -10px
    }

    .test-abtBxx h2 {
        width: 100%;
        padding: 25px 0 10px 0;
        font-size: 24px
    }

    .test-abtBxx h4 {
        font-size: 18px
    }

    .pt10 {
        padding-top: 0rem
    }

    section.sec-0.pd-bt.p-90 {
        padding: 1.625rem 0
    }

    section.wh-bg.p-90 {
        padding: 1.625rem 0
    }

    .timeline-body.mt-15 p {
        text-align: left;
        padding: 25px 0
    }

    .heading-abtBxx h2 {
        padding: 0 20px
    }

    p.sit-amet {
        padding: 0;
        font-size: 18px
    }

    .abt-Ides .heading-abtBxx {
        text-align: left;
        padding: 50px 15px
    }

    .abt-Ides .heading-abtBxx p {
        width: 100%;
        font-size: 16px
    }

    .abt-Ides .jour-abtBxx {
        text-align: left;
        padding: 0
    }

    .partner .swiper-wrapper {
        padding-bottom: 50px
    }

    .text-imon .swiper-wrapper {
        padding-bottom: 50px
    }

    p.sit-amet {
        padding: 20px 1px 60px
    }

    .timeline-heading p {
        padding: 10px 80px 10px 0;
        width: 70%
    }
}

@media (min-width:768px) and (max-width:991px) {
    ul.cont-page-connect {
        float: left;
        width: 100%
    }

    ul.cont-page-connect li:nth-child(1) {
        float: left;
        width: 100%
    }

    ul.cont-page-connect li:nth-child(2) {
        float: left;
        width: 50%
    }

    ul.cont-page-connect li:nth-child(3) {
        float: left;
        width: 50%
    }

    ul.cont-page-connect li {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .tem-memcont {
        padding: 30px 0
    }

    span.mob-angle {
        position: absolute;
        right: 15px;
        top: 10px;
        display: block
    }

    .testivdo-cont button {
        position: absolute;
        top: -20px;
        right: 10px
    }

    .leaderPopModal .modal-dialog {
        width: 99%;
        margin-top: 1rem
    }

    .leader-info {
        margin-top: 20px
    }

    .leaderPopModal .modal-body {
        padding: 30px;
        padding-top: 70px
    }

    .timeWork .swiper-button-prev {
        position: absolute;
        left: 30%
    }

    .timeWork .swiper-button-next {
        position: absolute;
        right: 30%
    }

    .timeWork .swiper-button-next,
    .timeWork .swiper-button-prev {
        position: absolute;
        top: 100%
    }

    .timeWork .jour-abtBxx.howWork {
        margin: 0 0
    }

    .timeWork .swiper-button-next:after,
    .timeWork .swiper-button-prev:after {
        font-size: 25px;
        background: #fad48b;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto
    }

    .testivdo-cont .modal-dialog {
        max-width: 100%;
        margin: 1.75rem auto
    }

    .leaderPopModal .popUpOpenSec button {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 25px
    }

    .insideTabsWrap {
        padding-top: 0
    }

    .insideTabsWrap.contact-page {
        background: #f7e9ce;
        padding: 20px
    }

    .submi-t {
        text-align: center
    }

    .cont-sec p {
        font-size: .9rem
    }

    .cont-icon h3 {
        font-size: 1.2rem
    }

    .cont-sec {
        height: auto
    }

    .cont-icon img {
        width: 20%
    }

    .jour-abtBxx .journeyInfo h2 {
        font-weight: 700;
        width: 100%;
        margin: 0 auto;
        background: #fad48b;
        padding: 15px;
        margin: 0 !important
    }

    .projectDescTion.cont-box h3 {
        font-size: 2rem
    }

    .timeline-heading p {
        width: 100%
    }

    .abt-List.p-90 {
        padding: 0rem 0
    }

    .aboutUs.p-90.abtInPage .level {
        padding-left: 0rem;
        padding-top: 4.125rem
    }

    .aboutUs.abtInPage {
        padding-top: 4.75rem
    }

    .aboutUs.abtInPage.quality-interior {
        background: #fff0;
        padding: 60px 1.5rem;
        padding-top: 5.625rem
    }

    .quality-interior-info ul li {
        flex: 0 0 45%
    }

    .yutb-subsbox .yutv-views p,
    .yutb-subsbox .yutv-subs p {
        color: #fbd48b;
        font-size: 1.5rem
    }

    .projectDescTion {
        padding: 0 0rem;
        margin: 2.125rem 0
    }

    .jour-abtBxx p {
        width: 100%
    }

    .aboutUs.abtInPage.warrent-info {
        padding: 3.5rem 1rem
    }

    .aboutUs.abtInPage .warrent-sec p {
        width: 100%;
        margin-top: 1.5rem
    }

    .warrent-sec ul li:nth-child(1) {
        width: 45%;
        flex: 0 0 30%;
        margin: 0 auto
    }

    .miss .abtUsIneerPara h3 {
        color: var(--themeColor);
        font-size: 2.125rem;
        font-weight: 300
    }

    .mt-5 {
        margin-top: 3rem !important
    }

    .partner {
        padding-bottom: 1.875rem
    }

    .text-imon .swiper-wrapper {
        padding-bottom: 50px
    }

    .partner .swiper-wrapper {
        padding-bottom: 50px
    }

    .bg-333 {
        height: 25rem;
        background-color: #f7e9ce;
    }

    .test-abtBxx p {
        1 padding-top: 0;
        font-size: 16px
    }

    .test-abtBxx h2 {
        width: 100%;
        padding: 20px 0 10px 0;
        font-size: 18px;
        margin-top: 0
    }

    ul.quickLinks li img {
        width: 100%
    }

    ul.quickLinks li .yutb-box img {
        width: 80% !important
    }

    .followus-sec ul.socialMediaicon {
        justify-content: center;
        margin-top: 0
    }

    .test-abtBxx h4 {
        font-size: 17
    }

    .pt10 {
        padding-top: 0rem
    }

    .abt-Ides.p-90 {
        padding: 1.625rem 0
    }

    .abt-Ides.testimony-sec {
        padding-top: 5.6rem
    }

    section.sec-0.pd-bt.p-90 {
        padding: 1.625rem 0
    }

    section.wh-bg.p-90 {
        padding: 1.625rem 0
    }

    .timeline-body.mt-15 p {
        text-align: left;
        padding: 10px 30px;
        font-size: 16px
    }

    .timeline-heading .year-title {
        font-size: 32px;
        padding: 10px 0
    }

    .miss {
        padding: 60px 1.5rem
    }

    .viss {
        padding: 60px 1.5rem
    }

    p.sit-amet {
        padding: 0;
        font-size: 16px
    }

    .abt-Ides .heading-abtBxx {
        text-align: left;
        padding: 50px 15px
    }

    .abt-Ides .heading-abtBxx p {
        width: 100%;
        font-size: 16px
    }

    .abt-Ides .jour-abtBxx {
        text-align: left;
        padding: 30px 15px
    }

    .award-para ul li:nth-child(1) {
        width: 100%
    }

    .yutb-subsbox ul.quickLinks li {
        flex: 0 0 50%;
        text-align: center;
        margin: 0;
        padding-bottom: 0
    }

    .award-para ul li {
        text-align: center;
        color: #fff
    }

    .award-para ul li:nth-child(2) {
        width: 100%;
        margin: 1.5rem 0
    }

    .awards-list ul li {
        flex: 0 0 100%;
        text-align: center;
        padding: 40px 20px
    }

    .awards-list .swiper-pagination-bullet {
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
        height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
        display: inline-block;
        border-radius: 50%;
        background: var(--swiper-pagination-bullet-inactive-color, #000);
        opacity: var(--swiper-pagination-bullet-inactive-opacity, .2)
    }

    .awards-list .swiper-pagination-bullet-active {
        background: #000;
        opacity: 1;
        width: .9375rem;
        height: .9375rem;
        border-radius: 50%;
        margin-bottom: -0.125rem !important
    }

    .awards-list .swiper-wrapper {
        padding-bottom: 40px
    }

    .about-partner .swiper-pagination-bullet {
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
        height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
        display: inline-block;
        border-radius: 50%;
        background: var(--swiper-pagination-bullet-inactive-color, #000);
        opacity: var(--swiper-pagination-bullet-inactive-opacity, .2)
    }

    .about-partner .swiper-pagination-bullet-active {
        background: #000;
        opacity: 1;
        width: .9375rem;
        height: .9375rem;
        border-radius: 50%;
        margin-bottom: -0.125rem !important
    }

    .about-partner .swiper-wrapper {
        padding-bottom: 55px
    }

    .partner .imgSlibx img {
        background-color: #fff;
        padding: 0rem;
        width: 100%
    }

    .yutb-subsbox {
        padding-left: 0
    }

    .abt-Ides .jour-abtBxx.journeyInfo {
        padding: 0
    }

    .project-cont::before {
        display: none
    }

    .projectDescTion p {
        width: 100%
    }

    .cont-sec {
        margin: 0 0 25px 0;
        width: 100%;
        display: block
    }

    .con-form {
        padding: 20px
    }

    .connect .form-select {
        width: 100%
    }

    .con-form .rightSideImg {
        margin-top: 2rem;
        margin-bottom: 2rem
    }

    .projectDescTion.cont-box {
        margin: 2.125rem 0
    }
}

@media (min-width:992px) and (max-width:1199px) and (orientation:landscape) {
    .cont-sec p {
        padding: 7px 15px
    }

    .cont-sec {
        height: 250px
    }

    .bannerBtn {
        bottom: -5.25rem !important
    }

    .commercialProject .swiper-wrapper {
        padding-bottom: 0rem
    }

    .ytb-info span {
        color: #616165;
        font-size: 9px
    }

    .yutb-box {
        border: 1px solid #616165;
        padding: 17px
    }

    .ytb-info h5 {
        font-size: 19px
    }
}

@media (min-width:768px) and (max-width:991.px) and (orientation:landscape) {
    .commercialProject .swiper-wrapper {
        padding-bottom: 0rem
    }

    .bannerBtn {
        bottom: -5.25rem !important
    }
}

@media (min-width:320px) and (max-width:767px) and (orientation:landscape) {
    .cont-sec {
        margin: 25px 0 0 0
    }

    .bannerBtn {
        bottom: -8.25rem !important
    }

    .commercialProject .swiper-wrapper {
        padding-bottom: 0rem
    }
}